*{color: #3c3535;}
.bg-pink-btn{
    border-color: #e2b3a3;
    background-color: #e2b3a3;}
.center-menu{
    background-color: #e2b3a3;
}
.center-menu .breadcrumb-item>a {color: #fff;}
.center-menu .breadcrumb-item.active {color: rgb(255 255 255/ 60%);}
.product-content{
    color: #7d879c;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    box-sizing:border-box;
    overflow: hidden;
}
.origin-price{
    color: #999;
}
.banner-img{height: 300px;}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{display: flex;}
svg{
    width: 1rem;
    height: 1rem;
}